<?xml version="1.0" encoding="utf-8"?>
<!-- 
    참고: 이 파일을 직접 편집하는 대신 웹 관리 도구를 사용하면 
    사용 중인 응용 프로그램에 대한 설정을 구성할 수 있습니다. Visual Studio에서
    [웹 사이트]->[Asp.Net 구성] 옵션을 사용하십시오.
    설정 및 주석에 대한 전체 목록은 일반적으로 
    \Windows\Microsoft.Net\Framework\vx.x\Config의 
    machine.config.comments에 있습니다. 
-->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="RFCSERVERIP" value="1**.**.**.**" />
    <add key="RFCSERVERNAME" value="***" />
    <add key="RFCSYSTEMNO" value="**" />
    <add key="RFCCLIENT" value="***" />
    <add key="RFCLANGUAGE" value="E" />
    <add key="RFCUSER" value="E***" />
    <add key="RFCPWD" value="z*******" />
  </appSettings>
  <connectionStrings>
    <add name="SPCORA" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1523)))(CONNECT_DATA=(SID=MSNORA)));User Id=IBUSER;Password=IBPWD" providerName="System.Data.OracleClient" />
    <add name="METADB" connectionString="Data Source=KFES,1433;Initial Catalog=METADB;User ID=id;Password=pwd@#!;Encrypt=False" providerName="System.Data.SqlClient" />
    <!--<add name="ORAMETADB" connectionString="Data Source=127.0.0.1;Initial Catalog=METADB;Persist Security Info=True;User ID=kfirst;Password=1234!@" providerName="System.Data.SqlClient" />-->
    <add name="ORAMETADB" connectionString="data source= (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=211.46.7.24)(PORT=1521))(CONNECT_DATA = (SID = ORAKF))); user id=KFMETA; password=KFMETA;" />
    <add name="LOGDB" connectionString="Data Source=KFES,1433;Initial Catalog=LOGDB;User ID=id;Password=pwd@#!;Encrypt=False" providerName="System.Data.SqlClient" />
    <add name="MESDB" connectionString="Data Source=127.0.0.1\SQLEXPRESS;Initial Catalog=MESDB;Persist Security Info=True;User ID=id;Password=pwd" providerName="System.Data.SqlClient" />
    <add name="FILEDB" connectionString="Data Source=127.0.0.1\SQLEXPRESS;Initial Catalog=FILEDB;Persist Security Info=True;User ID=id;Password=pwd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            컴파일된 페이지에 디버깅 기호를 삽입하려면 
            compilation debug="true"로 설정하십시오. 이렇게 설정하면 
            성능에 영향을 주므로 개발하는 동안에만 
            이 값을 true로 설정하십시오.
        -->
    <httpRuntime executionTimeout="43200" maxRequestLength="1024960" />
    <compilation debug="false" defaultLanguage="c#" targetFramework="4.8">
      <!--<assemblies>
        <add assembly="DevExpress.Data.v18.2, Version=18.2.18.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Utils.v18.2, Version=18.2.18.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v18.2.Core, Version=18.2.18.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v18.2, Version=18.2.18.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v18.2.Web, Version=18.2.18.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
      </assemblies>-->
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
          <authentication> 섹션에서는 ASP.NET에서 사용되는 
          보안 인증 모드의 구성을 설정하여 
          들어오는 사용자를 식별할 수 있습니다. 
        -->
    <authentication mode="Windows" />
    <!--
           <customErrors> 섹션에서는 요청을 실행하는 동안 
           처리되지 않은 오류가 발생하는 경우 수행할 작업을 
           구성할 수 있습니다. 특히 이 
           섹션에서 개발자는 오류 스택 추적 대신 html 
           오류 페이지가 표시되도록 구성할 수 있습니다.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="service.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>