<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EBAP.Exe.AutoUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <EBAP.Exe.AutoUpdater.Properties.Settings>
            <setting name="XmlFileName" serializeAs="String">
                <value>DownloadList.xml</value>
            </setting>
            <setting name="DEFAULTDB" serializeAs="String">
                <value>METADB</value>
            </setting>
            <setting name="COMMANDSP" serializeAs="String">
                <value>StoredProcedure</value>
            </setting>
            <setting name="COMMANDTEXT" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="ExeFile" serializeAs="String">
                <value>EBAP.Exe.MainUI.exe</value>
            </setting>
            <setting name="SystemName" serializeAs="String">
                <value>EBAP-CORE.NET</value>
            </setting>
            <setting name="WebServiceURL" serializeAs="String">
                <value>http://10.8.0.127/EBAPService/</value>
            </setting>
            <setting name="DMZServiceURL" serializeAs="String">
                <value>http://49.247.172.63/EBAPService/</value>
            </setting>
        </EBAP.Exe.AutoUpdater.Properties.Settings>
    </userSettings>
</configuration>
